<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FAPaginationLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>290632821EF07B5700B57D28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>290632961EF07B5800B57D28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>290632A11EF07B5800B57D28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
